@charset "UTF-8";

/*
em HTML é id         em CSS é #  (só pode um elemento)
em HTML é class      em CSS é .  (pode vários elementos)
*/

body {
    background-color: rgb(52, 122, 52);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(19, 73, 19);
}

h1#principal {
    text-align: center;
    background-color: green;
    color: white;
}

h2 {
    color: rgb(88, 204, 88);
}

.basico {
    color: yellow;
    font-weight: bold;
}

.intermediario {
    color: blue;
}

.avançado {
    color: red;
}

.destaque {
    background-color: aqua;
}